# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
touristguidefe/node_modules
touristguidefe/.pnp
touristguidefe/.pnp.js

# testing
touristguidefe/coverage

# production
touristguidefe/build

# misc
touristguidefe/.DS_Store
touristguidefe/.env.local
touristguidefe/.env.development.local
touristguidefe/.env.test.local
touristguidefe/.env.production.local

touristguidefe/npm-debug.log*
touristguidefe/yarn-debug.log*
touristguidefe/yarn-error.log*

HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
